Checks: '*,
         -abseil-*,
         -altera-*,
         -android-*,
         -fuchsia-*,
         -google-*,
         -llvm-*,
         -llvmlibc-*,
         -zircon-*,
         -bugprone-easily-swappable-parameters,
         -modernize-use-trailing-return-type,
         -readability-avoid-const-params-in-decls,
         -readability-identifier-length'
ExtraArgs: '-ferror-limit=0'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
